/* @import './reset.css'; */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #ccab56;
    --secondary: #040403;
    --accent: #ee272a;

    --white: #f9fcff;
    --black: #040403;
    --dark-gray: #202325;
    --light-gray: #2a2f33;
    --border-radius: 8px;

    --max-width: 1400px;

    /* shadcn ish */
    /* Background Colors */
    --background: #ffffff; /* HSL(0 0% 100%) */
    --foreground: #111827; /* HSL(240 10% 3.9%) */

    /* Card Colors */
    --card: #ffffff; /* HSL(0 0% 100%) */
    --card-foreground: #111827; /* HSL(240 10% 3.9%) */

    /* Popover Colors */
    --popover: #ffffff; /* HSL(0 0% 100%) */
    --popover-foreground: #111827; /* HSL(240 10% 3.9%) */

    /* Primary Colors */
    --primary-foreground: #f9fafb; /* HSL(0 0% 98%) */

    /* Secondary Colors */
    --secondary-foreground: #111827; /* HSL(240 5.9% 10%) */

    /* Muted Colors */
    --muted: #f3f4f6; /* HSL(240 4.8% 95.9%) */
    --muted-foreground: #6b7280; /* HSL(240 3.8% 46.1%) */

    /* Accent Colors */
    --accent-foreground: #111827; /* HSL(240 5.9% 10%) */

    /* Destructive Colors */
    --destructive: #ef4444; /* HSL(0 84.2% 60.2%) */
    --destructive-foreground: #f9fafb; /* HSL(0 0% 98%) */

    /* Border and Input Colors */
    --border: #e5e7eb; /* HSL(240 5.9% 90%) */
    --input: #e5e7eb; /* HSL(240 5.9% 90%) */

    /* Ring Color */
    --ring: #111827; /* HSL(240 5.9% 10%) */

    /* Radius */
    --radius: 0.5rem;
}

html {
    min-height: 100dvh;
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    min-height: 100dvh;
    height: 100%;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

@layer base {
    html {
        @apply bg-black;
    }
    body {
        @apply text-lg font-medium;
    }
    h1 {
        @apply text-3xl font-bold;
    }
    h2 {
        @apply text-2xl font-semibold;
    }
    h3 {
        @apply text-xl font-semibold;
    }
    h4 {
        @apply text-lg font-bold;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        font-family: 'Poppins', serif;
        @apply bg-background text-primary;
    }

    h1,
    h2,
    h3,
    h4 {
        font-family: 'Montserrat', sans-serif;
    }

    h1 {
        @apply text-3xl font-bold mb-4;
    }

    h2 {
        @apply text-2xl font-bold mb-4;
    }

    h3 {
        @apply text-xl font-semibold mb-2;
    }

    h4 {
        @apply text-base font-semibold;
    }
}
